dash
pandas
dash-bootstrap-components
geopandas
lxml
dash-leaflet
dash-extensions
torch
torchvision
opencv-contrib-python-headless
albumentations
tqdm
onnx
onnxruntime
rasterio
shapely
diskcache
psutil
multiprocess
matplotlib
